# About this Jupyter Notebook

@author: Yingding Wang\
@updated: 26.09.2022

This notebook building iris classifier with iris dataset

In [77]:
import sys

### About iris dataset

This is perhaps the best known database to be found in the pattern recognition literature. Fisher's paper is a classic in the field and is referenced frequently to this day. (See Duda & Hart, for example.) The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant. One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Reference:
* https://www.tensorflow.org/datasets/catalog/iris
* https://archive.ics.uci.edu/ml/datasets/iris

In [78]:
from collections import namedtuple
Settings = namedtuple('Settings', [
    'tf_io',
    'tf_datasets',
    'tf_version',
    'pandas_version',
    'numpy_version',
    #'base_tf_image',
    #'base_python_image'
])
# the base images are from the dockerhub https://hub.docker.com/_/python
settings = Settings(
    tf_io="0.27.0", 
    tf_datasets="4.6.0",
    tf_version="2.10.0",
    pandas_version="1.5.0",
    numpy_version="1.23.3", # "1.21.6"
    # base_tf_image="tensorflow/tensorflow:2.10.0",
    # base_python_image="python:3.8.14"
) 
print(f"{settings}")

Settings(tf_io='0.27.0', tf_datasets='4.6.0', tf_version='2.10.0', pandas_version='1.5.0', numpy_version='1.23.3')

In [79]:
!{sys.executable} -m pip install --upgrade --user tensorflow-datasets=="{settings.tf_datasets}" tensorflow=="{settings.tf_version}" pandas=="{settings.pandas_version}" numpy=="{settings.numpy_version}"

Requirement already satisfied: tensorflow-datasets==4.6.0 in /home/jovyan/.local/lib/python3.8/site-packages (4.6.0)
Requirement already satisfied: tensorflow==2.10.0 in /home/jovyan/.local/lib/python3.8/site-packages (2.10.0)
Requirement already satisfied: pandas==1.5.0 in /home/jovyan/.local/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: numpy==1.23.3 in /home/jovyan/.local/lib/python3.8/site-packages (1.23.3)
Requirement already satisfied: absl-py in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (1.2.0)
Requirement already satisfied: toml in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (0.10.2)
Requirement already satisfied: promise in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (2.3)
Requirement already satisfied: requests>=2.19.0 in /opt/conda/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (2.25.1)
Requirement already satisfied: etils[epath] in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (0.8.0)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (1.16.0)
Requirement already satisfied: tensorflow-metadata in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (1.10.0)
Requirement already satisfied: termcolor in /opt/conda/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (1.1.0)
Requirement already satisfied: importlib-resources in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (5.9.0)
Requirement already satisfied: dill in /opt/conda/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (0.3.4)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (4.61.0)
Requirement already satisfied: protobuf>=3.12.2 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow-datasets==4.6.0) (3.19.4)
Requirement already satisfied: google-pasta>=0.1.1 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (0.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (4.3.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.8/site-packages (from tensorflow==2.10.0) (20.9)
Requirement already satisfied: tensorflow-estimator<2.11,>=2.10.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (2.10.0)
Requirement already satisfied: libclang>=13.0.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (14.0.6)
Requirement already satisfied: astunparse>=1.6.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (1.6.3)
Requirement already satisfied: setuptools in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (65.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (0.4.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (1.43.0)
Requirement already satisfied: h5py>=2.9.0 in /opt/conda/lib/python3.8/site-packages (from tensorflow==2.10.0) (3.2.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (3.3.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (1.1.2)
Requirement already satisfied: flatbuffers>=2.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (2.0)
Requirement already satisfied: tensorboard<2.11,>=2.10 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (2.10.0)
Requirement already satisfied: wrapt>=1.11.0 in /opt/conda/lib/python3.8/site-packages (from tensorflow==2.10.0) (1.13.1)
Requirement already satisfied: keras<2.11,>=2.10.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (2.10.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorflow==2.10.0) (0.27.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.8/site-packages (from pandas==1.5.0) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas==1.5.0) (2021.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/conda/lib/python3.8/site-packages (from astunparse>=1.6.0->tensorflow==2.10.0) (0.36.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jovyan/.local/lib/python3.8/site-packages (from requests>=2.19.0->tensorflow-datasets==4.6.0) (1.26.12)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests>=2.19.0->tensorflow-datasets==4.6.0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests>=2.19.0->tensorflow-datasets==4.6.0) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests>=2.19.0->tensorflow-datasets==4.6.0) (2.10)
Requirement already satisfied: markdown>=2.6.8 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10.0) (3.3.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10.0) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10.0) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10.0) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /home/jovyan/.local/lib/python3.8/site-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10.0) (2.0.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /opt/conda/lib/python3.8/site-packages (from tensorboard<2.11,>=2.10->tensorflow==2.10.0) (1.35.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.8/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /home/jovyan/.local/lib/python3.8/site-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /home/jovyan/.local/lib/python3.8/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/conda/lib/python3.8/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow==2.10.0) (3.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.8/site-packages (from packaging->tensorflow==2.10.0) (2.4.7)
Requirement already satisfied: googleapis-common-protos<2,>=1.52.0 in /opt/conda/lib/python3.8/site-packages (from tensorflow-metadata->tensorflow-datasets==4.6.0) (1.53.0)

In [80]:
# optional clean up the local installation
# !{sys.executable} -m pip uninstall -y tensorflow-datasets tensorflow

In [81]:
# show current numpy version
!{sys.executable} -m pip list | grep numpy

numpy                        1.23.3

### TensorFlow Iris Flower Dataset
* Training Deep Learning Model with Iris: https://medium.com/@nutanbhogendrasharma/tensorflow-deep-learning-model-with-iris-dataset-8ec344c49f91
* TensorFlow Dataset mnist example:  https://www.tensorflow.org/datasets/keras_example
* Get feature and label from TF Dataset: https://stackoverflow.com/questions/56226621/how-to-extract-data-labels-back-from-tensorflow-dataset/56226958#56226958

Note:\
iris dataset has only the 'train' split (https://www.tensorflow.org/datasets/catalog/iris)

In [82]:
import tensorflow_datasets as tfds
import tensorflow as tf

In [83]:
(ds_train), ds_info = tfds.load(
    'iris',
    split=tfds.Split.TRAIN, # split=['train', 'test'],
    shuffle_files=True,
    as_supervised=True,
    with_info=True
)
assert isinstance(ds_train, tf.data.Dataset)

### Explore Dataset

In [84]:
print(ds_train)

<PrefetchDataset element_spec=(TensorSpec(shape=(4,), dtype=tf.float32, name=None), TensorSpec(shape=(), dtype=tf.int64, name=None))>

In [85]:
ds_train.take(1)

In [86]:
iris_sample, = ds_train.take(1)
print(iris_sample)

(<tf.Tensor: shape=(4,), dtype=float32, numpy=array([5.1, 3.4, 1.5, 0.2], dtype=float32)>, <tf.Tensor: shape=(), dtype=int64, numpy=0>)

In [87]:
(iris_feature_1, iris_label_1), = ds_train.take(1)
print(iris_feature_1)
print(iris_label_1)

tf.Tensor([5.1 3.4 1.5 0.2], shape=(4,), dtype=float32)
tf.Tensor(0, shape=(), dtype=int64)

### Visualize the dataset

In [88]:
# https://www.tensorflow.org/datasets/api_docs/python/tfds/as_dataframe
size = ds_train.cardinality().numpy()
df = tfds.as_dataframe(ds_train.take(size), ds_info)

In [89]:
df

                 features  label
0    [5.1, 3.4, 1.5, 0.2]      0
1    [7.7, 3.0, 6.1, 2.3]      2
2    [5.7, 2.8, 4.5, 1.3]      1
3    [6.8, 3.2, 5.9, 2.3]      2
4    [5.2, 3.4, 1.4, 0.2]      0
..                    ...    ...
145  [5.1, 3.8, 1.6, 0.2]      0
146  [4.9, 2.4, 3.3, 1.0]      1
147  [6.7, 3.1, 5.6, 2.4]      2
148  [5.5, 2.4, 3.8, 1.1]      1
149  [4.9, 3.1, 1.5, 0.1]      0

[150 rows x 2 columns]

In [90]:
df.head(5)

               features  label
0  [5.1, 3.4, 1.5, 0.2]      0
1  [7.7, 3.0, 6.1, 2.3]      2
2  [5.7, 2.8, 4.5, 1.3]      1
3  [6.8, 3.2, 5.9, 2.3]      2
4  [5.2, 3.4, 1.4, 0.2]      0

In [91]:
output_path = "./iris.csv"
with open(output_path, "w+", encoding="utf-8") as f:
    df.to_csv(f, index=False, header=True, encoding="utf-8")

## Open the output file
* Right mouse click of "iris.csv" -> open with -> CSVTable (to show content with csv viewer)
* Right mouse click of "iris.csv" -> open with -> **Editor** (to show raw data content)

![image](./screens/csvOpenWith.png)

## Reload the CSV file

In [142]:
feature_names = {
    "0": "sepal length (cm)",
    "1": "sepal width (cm)",
    "2": "pedal length (cm)",
    "3": "petal width (cm)",
}
feature_names["0"]

'sepal length (cm)'

In [164]:
import pandas as pd
df = pd.read_csv(output_path, sep=",", header=0, index_col=None)

In [165]:
df

              features  label
0    [5.1 3.4 1.5 0.2]      0
1    [7.7 3.  6.1 2.3]      2
2    [5.7 2.8 4.5 1.3]      1
3    [6.8 3.2 5.9 2.3]      2
4    [5.2 3.4 1.4 0.2]      0
..                 ...    ...
145  [5.1 3.8 1.6 0.2]      0
146  [4.9 2.4 3.3 1. ]      1
147  [6.7 3.1 5.6 2.4]      2
148  [5.5 2.4 3.8 1.1]      1
149  [4.9 3.1 1.5 0.1]      0

[150 rows x 2 columns]

In [167]:
assert df.shape[1]==2

In [145]:
import numpy as np
# https://stackoverflow.com/questions/45704999/how-to-convert-vector-wrapped-as-string-to-numpy-array-in-pandas-dataframe
df['numpy'] = df['features'].apply(lambda x: 
                           np.fromstring(
                               x.replace('[','')
                                .replace(']',''), sep=' '))
# df['features'] = df['features'].apply(lambda x:[].replace()).apply(eval).apply(np.array)

In [146]:
for i in range(0, 4):
    df[feature_names[f"{i}"]] = df["numpy"].apply(lambda x: x[i])

In [148]:
df.drop(columns=['features', 'numpy'], inplace=True)

In [156]:
df_x = df.loc[:, ~df.columns.isin(['label'])]
df_y = df.loc[:, ['label']]

In [157]:
df_x.to_numpy()

array([[5.1, 3.4, 1.5, 0.2],
       [7.7, 3. , 6.1, 2.3],
       [5.7, 2.8, 4.5, 1.3],
       [6.8, 3.2, 5.9, 2.3],
       [5.2, 3.4, 1.4, 0.2],
       [5.6, 2.9, 3.6, 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [5.5, 2.4, 3.7, 1. ],
       [4.6, 3.4, 1.4, 0.3],
       [7.7, 2.8, 6.7, 2. ],
       [7. , 3.2, 4.7, 1.4],
       [4.6, 3.2, 1.4, 0.2],
       [6.5, 3. , 5.2, 2. ],
       [5.5, 4.2, 1.4, 0.2],
       [5.4, 3.9, 1.3, 0.4],
       [5. , 3.5, 1.3, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [4.8, 3. , 1.4, 0.1],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [6.7, 3.3, 5.7, 2.1],
       [7.9, 3.8, 6.4, 2. ],
       [6.7, 3. , 5.2, 2.3],
       [5.8, 4. , 1.2, 0.2],
       [6.3, 2.5, 5. , 1.9],
       [5. , 3. , 1.6, 0.2],
       [6.9, 3.1, 5.1, 2.3],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.7, 4.1, 1. ],
       [5.2, 2.7, 3.9, 1.4],
       [6.7, 3. , 5. , 1.7],
       [5.7, 2.6, 3.5, 1. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.5, 3.2, 5.1, 2. ],
       [5.7, 3.8, 1.7, 0.3],
       [5.4, 3.9, 1.7, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.6, 2.7, 4.2, 1.3],
       [5. , 3.4, 1.6, 0.4],
       [5.3, 3.7, 1.5, 0.2],
       [6.6, 2.9, 4.6, 1.3],
       [5.5, 3.5, 1.3, 0.2],
       [6.7, 3.1, 4.4, 1.4],
       [4.3, 3. , 1.1, 0.1],
       [6.4, 3.1, 5.5, 1.8],
       [5. , 3.2, 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.6, 5.6, 1.4],
       [6.3, 2.3, 4.4, 1.3],
       [5.2, 4.1, 1.5, 0.1],
       [5. , 3.3, 1.4, 0.2],
       [6.8, 2.8, 4.8, 1.4],
       [5.4, 3.4, 1.5, 0.4],
       [6.1, 2.8, 4.7, 1.2],
       [5.6, 3. , 4.1, 1.3],
       [6.4, 2.9, 4.3, 1.3],
       [6.4, 2.8, 5.6, 2.1],
       [5.1, 3.7, 1.5, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [6. , 2.9, 4.5, 1.5],
       [6. , 3. , 4.8, 1.8],
       [5. , 3.6, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [5.4, 3. , 4.5, 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.1, 2.8, 4. , 1.3],
       [6.1, 3. , 4.9, 1.8],
       [5.8, 2.7, 5.1, 1.9],
       [6.3, 2.7, 4.9, 1.8],
       [5.4, 3.7, 1.5, 0.2],
       [7.1, 3. , 5.9, 2.1],
       [6.5, 2.8, 4.6, 1.5],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.5, 1.4, 0.3],
       [5.6, 2.5, 3.9, 1.1],
       [5.6, 2.8, 4.9, 2. ],
       [6.7, 3.1, 4.7, 1.5],
       [5.7, 3. , 4.2, 1.2],
       [7.3, 2.9, 6.3, 1.8],
       [4.5, 2.3, 1.3, 0.3],
       [5.8, 2.7, 3.9, 1.2],
       [6.3, 2.9, 5.6, 1.8],
       [5.1, 3.5, 1.4, 0.2],
       [4.9, 2.5, 4.5, 1.7],
       [6.9, 3.1, 4.9, 1.5],
       [6. , 2.2, 5. , 1.5],
       [5.1, 2.5, 3. , 1.1],
       [7.2, 3. , 5.8, 1.6],
       [6.2, 2.9, 4.3, 1.3],
       [4.4, 2.9, 1.4, 0.2],
       [5.7, 2.8, 4.1, 1.3],
       [5.7, 2.5, 5. , 2. ],
       [5.6, 3. , 4.5, 1.5],
       [5.1, 3.3, 1.7, 0.5],
       [5.5, 2.3, 4. , 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [6.3, 2.8, 5.1, 1.5],
       [6.3, 3.4, 5.6, 2.4],
       [6.5, 3. , 5.5, 1.8],
       [4.6, 3.1, 1.5, 0.2],
       [7.7, 3.8, 6.7, 2.2],
       [5. , 2. , 3.5, 1. ],
       [7.2, 3.6, 6.1, 2.5],
       [6.4, 3.2, 4.5, 1.5],
       [4.9, 3. , 1.4, 0.2],
       [5.9, 3. , 4.2, 1.5],
       [4.8, 3.1, 1.6, 0.2],
       [6.3, 3.3, 6. , 2.5],
       [6.4, 2.8, 5.6, 2.2],
       [4.8, 3.4, 1.9, 0.2],
       [6.7, 2.5, 5.8, 1.8],
       [5.1, 3.8, 1.9, 0.4],
       [5.7, 2.9, 4.2, 1.3],
       [6.4, 2.7, 5.3, 1.9],
       [5.4, 3.4, 1.7, 0.2],
       [6.8, 3. , 5.5, 2.1],
       [6.3, 2.5, 4.9, 1.5],
       [4.4, 3.2, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [7.7, 2.6, 6.9, 2.3],
       [5. , 3.4, 1.5, 0.2],
       [6. , 2.7, 5.1, 1.6],
       [6.7, 3.3, 5.7, 2.5],
       [5. , 3.5, 1.6, 0.6],
       [6.4, 3.2, 5.3, 2.3],
       [7.4, 2.8, 6.1, 1.9],
       [6.9, 3.1, 5.4, 2.1],
       [5.9, 3.2, 4.8, 1.8],
       [5.5, 2.5, 4. , 1.3],
       [6.2, 2.2, 4.5, 1.5],
       [4.4, 3. , 1.3, 0.2],
       [5. , 2.3, 3.3, 1. ],
       [6.6, 3. , 4.4, 1.4],
       [6.1, 2.9, 4.7, 1.4],
       [6.2, 2.8, 4.8, 1.8],
       [4.8, 3.4, 1.6, 0.2],
       [5.9, 3. , 5.1, 1.8],
       [6. , 3.4, 4.5, 1.6],
       [7.2, 3.2, 6. , 1.8],
       [5.8, 2.6, 4. , 1.2],
       [4.7, 3.2, 1.3, 0.2],
       [6.2, 3.4, 5.4, 2.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [6.7, 3.1, 5.6, 2.4],
       [5.5, 2.4, 3.8, 1.1],
       [4.9, 3.1, 1.5, 0.1]])

In [160]:
df_y.to_numpy()

array([[0],
       [2],
       [1],
       [2],
       [0],
       [1],
       [1],
       [1],
       [0],
       [2],
       [1],
       [0],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [2],
       [0],
       [0],
       [1],
       [2],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [2],
       [0],
       [0],
       [1],
       [2],
       [0],
       [0],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [1],
       [2],
       [1],
       [1],
       [2],
       [0],
       [1],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [0],
       [1],
       [2],
       [1],
       [0],
       [1],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [0],
       [1],
       [0],
       [2],
       [2],
       [0],
       [2],
       [0],
       [1],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [2],
       [0],
       [1],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [0],
       [2],
       [0],
       [1],
       [2],
       [1],
       [0]])

In [161]:
df_y.to_numpy().flatten()

array([0, 2, 1, 2, 0, 1, 1, 1, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 0, 2, 1, 1, 1, 1, 1, 2, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 2, 0, 0, 1, 2, 1, 0, 0, 1, 0, 1, 1, 1, 2, 0, 0, 1, 2, 0, 0, 1,
       2, 2, 1, 2, 2, 2, 0, 2, 1, 0, 0, 1, 2, 1, 1, 2, 0, 1, 2, 0, 2, 1,
       2, 1, 2, 1, 0, 1, 2, 1, 0, 1, 1, 2, 2, 2, 0, 2, 1, 2, 1, 0, 1, 0,
       2, 2, 0, 2, 0, 1, 2, 0, 2, 1, 0, 0, 2, 0, 1, 2, 0, 2, 2, 2, 1, 1,
       1, 0, 1, 1, 1, 2, 0, 2, 1, 2, 1, 0, 2, 0, 1, 2, 1, 0])

In [162]:
# add back one dimention to the flatten array
df_y.to_numpy().flatten()[:, None]

array([[0],
       [2],
       [1],
       [2],
       [0],
       [1],
       [1],
       [1],
       [0],
       [2],
       [1],
       [0],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [2],
       [0],
       [0],
       [1],
       [2],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [2],
       [0],
       [0],
       [1],
       [2],
       [0],
       [0],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [1],
       [2],
       [1],
       [1],
       [2],
       [0],
       [1],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [0],
       [1],
       [2],
       [1],
       [0],
       [1],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [0],
       [1],
       [0],
       [2],
       [2],
       [0],
       [2],
       [0],
       [1],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [2],
       [0],
       [1],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [0],
       [2],
       [0],
       [1],
       [2],
       [1],
       [0]])